*.o
include/autoconf.h
.config
build/menuconfig/Makefile
build/menuconfig/menuconfig
build/menuconfig/menuconfig.pro
build/menuconfig/moc_*.cpp
*.bin
*.dis
*.elf
logo.c
*.pyc
doc/tex/vol1/g-bios_develop_manual_vol1.pdf
doc/tex/vol3/g-bios_develop_manual_vol3.pdf
*.img
