*.o
include/autoconf.h
.config
.sysconfig
build/menuconfig/Makefile
build/menuconfig/menuconfig
build/menuconfig/menuconfig.pro
build/menuconfig/moc_*.cpp
*.bin
*.dis
*.elf
logo.c
*.pyc
doc/vol1/developer_manual_vol1.pdf
doc/vol3/developer_manual_vol3.pdf
*.img
sys_img_creat
sdrecord
