include/autoconf.h
.config
.sysconfig
build/menuconfig/Makefile
build/menuconfig/menuconfig
build/menuconfig/menuconfig.pro
build/menuconfig/moc_*.cpp
g-bios-[tb]h.bin
logo.c
confdata.c
*.o
*.dis
*.elf
*.pdf
*.pyc
